.logo-container {
  padding-top: 10px;
}

/* Estilo para la imagen del logo */
.logo-img {
  width: 100%; /* Ajusta el tamaño para que sea responsivo */
}

/* Media queries para ajustar el tamaño del logo en pantallas pequeñas */
@media (max-width: 768px) {
  .logo-img {
    max-width: 150px; /* Tamaño máximo en pantallas pequeñas */
  }
}

.custom-btn {
  background-color: #0076e4; /* Color verde más oscuro al pasar el mouse */
}

.custom-btn:hover {
  background-color: #369eff; /* Color verde más oscuro al pasar el mouse */
}

.custom-btn-edit {
  background-color: #0076e4; /* Color verde */
  border: none; /* Quitar borde */
  color: white; /* Texto blanco */
}

.custom-btn-edit:hover {
  background-color: #369eff; /* Color verde más oscuro al pasar el mouse */
}

.custom-btn-delete {
  background-color: #ff1100; /* Color rojo */
  border: none; /* Quitar borde */
  color: white; /* Texto blanco */
}

.custom-btn-delete:hover {
  background-color: #ff3632; /* Color rojo más oscuro al pasar el mouse */
}


